/*-----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /*-----------------
    GENERAL
------------------*/
body{
    font-family: "Open Sans", serif;
    color: black;
    min-height: 100vh;

    

}
.gap-30 {
  gap: 30%
}
.active{
    color: #0282F9;
  
}

  /*-----------------
    HEADER
------------------*/

.big-container{
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
}
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 15px;


}

ul a {
    text-decoration: none;
    color: black;
    font-weight: 600;
   
}
.list{
    display: flex;
    gap: 40px;
    align-self: center;
}
  /*-----------------
    MAIN
------------------*/
.jumbotron{
    background-image: url(../public/img/jumbotron.jpg);
    min-height: 100vh;
}
.comics-section{
    background-color: #1C1C1C;
    padding: 50px 0;

}
.second-sect{
 background-color: #0282F9;  
 padding: 50px 0; 
}
 li{
    list-style: none;
    color: white;
    padding-left: 10px;
}
.list-2{
    display: flex;
    gap: 40px;
    align-self: center;
    padding-left: 10%;
}
.img-size{
    height: 60px;
   
    
}